{% extends "admin/admin.html" %}
{% block selectRide %}
	  
	<div class="col-md-10" style="text-align:center;">
			 <h3> Select route to send your package </h3>
                <form name="place" method="post" action="find_rider">
                                  <label> From </label>
                  <input name="from_place" type="text" class="form-control" style='width:100%'>
                  <br>
                  <label> To &nbsp &nbsp</label>
                  <input type="text" name="to_place" class="form-control" style="width:100%" />
                  <br>
                  <div class="input-group date" data-provide="datepicker">
   <!--  <input type="date" class="form-control" name="date"> -->
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
                  <input type="submit" />
                </form>
    </div>
{% endblock %}